body{

    margin: 0;
    overflow: auto;
    z-index: 1;
}
.sticky-nav{
    position: sticky ;
    top: 0;
    background-color:rgba(119, 163, 189, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0;
    z-index: 20;
}
.right-nav{
    text-decoration: none;
    margin-right: 0.9rem;
    font-weight: 700;
    color: azure;
    opacity: 0.7;

    
}
.head-left img{
    height: 100%;
    width: 25%;
    position: absolute;
    top: 0;
    margin-left: 0.5rem;
    
}

.right-nav:hover{
    opacity:1;
}
@media (max-width:1000px){
    .head-right{
        display: none;
    }
}
.brand{
    text-decoration: none;
    margin-left: 3rem;
    font-size: 2rem;
    font-weight:bolder; 
    font-family: 'Tangerine', cursive;
    color: black;
}
.profile{
    display: flex;
    width:8rem;
    height: 8rem;
    border-radius: 50%;
    margin: 20px;
}
.para{
    opacity: 0.5;
    font-family: Monaco;
    text-align: left;
    /* width: 50%; */

}
p{
    font-family: Monaco;
    opacity: 0.5;
    font-weight: 700;

}
.about{
    margin-left: 55px;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;

}
.btn{
    background-color: #79e1ed;
    box-shadow: 12px 12px 2px 1px rgb(158, 158, 226);
    margin-right:5rem;
    margin-top: 2rem;
}
h1{
    color: #32718e;

}
.portfolio-image{
    height: 40rem;
    width: 40%;
    margin-top: 10rem;

}
.about-1{
    width: 50%;
}




.main-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: start;
}
.name-head{
    height: 40rem;
    width: 50%;
    margin: 1rem;
    font-weight: bolder;
}
.name-head a {
    text-decoration: none;
    color: #32718e;
    line-height: 7rem;
    font-size: 3.5rem;
}
.name{
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.portfolio-image{
    height: 40rem;
    width: 50%;
    margin: 1rem;
}
.portfolio-image img {
    margin-top: 5rem;
    margin-left: 5rem;
    height: 80%;
    width: 80%;
    animation: image-gif 1.5s linear 0s infinite alternate;
}
@keyframes image-gif {
    from{
        height: 80%;
        width: 80%;
    }
    to{
        height: 85%;
        width: 85%;
    } 
}

.contact-info{
    display: flex;
    background-color: rgba(119, 163, 189);
    height: 5rem;
    align-items: center;
    justify-content: center;
}
.social i {
    letter-spacing: 0.3rem;
    margin-left: 0.3rem;
    opacity: 0.7;
}
.social i:hover{
    opacity: 1;
    text-shadow:1rem ;
}
