body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow: auto;
    z-index: 1;
}

.sticky-nav{
    position: sticky ;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0;
    background-color: rgba(119, 163, 189, 0.7);
}

.logo h5{
    margin-left: 3rem;
    font-family: 'Tangerine', cursive;
    font-size: 2.5rem;
}
.logo img{
    height: 100%;
    width: 18.5%;
    position: absolute;
    top: 0;
    margin-left: 0.5rem;

}

.right-nav{
    text-decoration: none;
    margin-right: 3rem;
    font-weight: 700;
}
.right-nav:hover{
    color: white;

}
.head-right a{
    text-decoration: none;
    color: #32718e;
}
.head-right{
    margin-right: 3rem;
}

.main-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: start;
}
.name-head{
    height: 40rem;
    width: 50%;
    margin: 1rem;
    font-weight: bolder;
}
.name-head a {
    text-decoration: none;
    color: #32718e;
    line-height: 7rem;
    font-size: 3.5rem;
}
.name{
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.portfolio-image{
    height: 40rem;
    width: 50%;
    margin: 1rem;
}
.portfolio-image img {
    margin-top: 5rem;
    margin-left: 5rem;
    height: 80%;
    width: 80%;
    animation: image-gif 1.5s linear 0s infinite alternate;
}
@keyframes image-gif {
    from{
        height: 80%;
        width: 80%;
    }
    to{
        height: 85%;
        width: 85%;
    } 
}

.contact-info{
    display: flex;
    background-color: rgba(119, 163, 189);
    height: 5rem;
    align-items: center;
    justify-content: center;
}
.social i {
    letter-spacing: 0.3rem;
    margin-left: 0.3rem;
    opacity: 0.7;
}
.social i:hover{
    opacity: 1;
    text-shadow:1rem ;
}
